body {
    margin: 0;
    }

/* 顶部导航 */

.TopNavLogo > img {
    display: inline;
    float: left;
    z-index: 9;
    position: relative;
    height: 40px;
    width: 91px;
    margin: 12px 40px;
    }

/* 一级菜单样式 */

.TopNav,
.TapNav > ul {
    background-color: rgba(245, 245, 245, 1);
    font-family: Helvetica;
    z-index: -1;
    }
    
.TopNav:before,
.TopNav:after,
.TopNav > ul:before,
.TopNav > ul:after {
    content: '   ';
    display: table;
    }
    
.TopNav:after,
.TopNav > ul:after {
    clear: both;
    }
    
.TopNav {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    }
    
.TopNav > ul {
    background-color: rgba(245, 245, 245, 1);
    margin: 0;
    padding: 0;
    position: relative;
    }
    
.TopNav > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
.TopNav > ul > li {
    float: left;
    position: relative;
    }
    
.TopNav > ul > li > a {
    padding: 23px 26px;
    display: block;
    color: black;
    line-height: 18px;
    text-decoration: none;
    }
    
.TopNav > ul > li:hover > a {
    background: black;
    color: white;
    }
    
.TopNav > ul > li > a > span {
    line-height: 18px;
    }
    
.TopNav > ul > li.active > a,
.TopNav > ul > li > a:active {
    background-color: gray;
    }
    
/* 二级菜单样式 */

.TopNav > ul ul {
    visibility: hidden;
    position: absolute;
    top: 65px;
    background-color: rgba(245, 245, 245, 1);
    margin: 0;
    padding: 0;
    z-index: -1;
    }
    
.TopNav > ul li:hover ul {
    visibility: visible;
    margin: 0;
    z-index: 2;
    top: 64;
    left: 0;
    }
    
.TopNav > ul ul:before {
    content: '';
    position: absolute;
    top: -6px;
    width: 100%;
    height: 20px;
    background: transparent;
    }
    
.TopNav > ul ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    }
    
.TopNav > ul ul li a {
    padding: 18px 26px;
    display: block;
    color: black;
    text-decoration: none;
    width: 150px;
    border-left: 4px solid transparent;
    }
    
.TopNav > ul ul li a:hover {
    border-left: 4px solid #de553b;
    background-color: black;
    color: white;
    }
    
