/* 全局样式 */

body {
    margin: 0;
    }
    
.frame {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }

.IndexTitle {
    margin: 40px 0;
    height: 24px;
    border-top: 1px solid rgba(233, 233, 233, 1);
    padding-top: 40px;
    text-align: center;
    }
    
.IndexTitle > a:link,
.IndexTitle > a:visited {
    text-decoration: none;
    color: rgba(69, 69, 69, 1);
    font-size: 24px;
    font-family: Helvetica '微软雅黑';
    line-height: 18px;
    }
    
.IndexTitle > a:hover {
    color: #de553b;
    }
    
.IndexTitle > a > span {
    padding-left: 20px;
    }

/* 顶部导航 */

.TopNavLogo > img {
    display: inline;
    float: left;
    z-index: 9;
    position: relative;
    height: 40px;
    width: 91px;
    margin: 12px 40px;
    }

/* 顶部导航一级菜单样式 */

.TopNav,
.TapNav > ul {
    background-color: rgba(255, 255, 255, 1);
    font-family: Helvetica;
    z-index: -1;
    }
    
.TopNav:before,
.TopNav:after,
.TopNav > ul:before,
.TopNav > ul:after {
    content: '   ';
    display: table;
    }
    
.TopNav:after,
.TopNav > ul:after {
    clear: both;
    }
    
.TopNav {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    }
    
.TopNav > ul {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    position: relative;
    }
    
.TopNav > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
.TopNav > ul > li {
    float: left;
    position: relative;
    }
    
.TopNav > ul > li > a {
    padding: 23px 26px;
    display: block;
    color: black;
    line-height: 18px;
    text-decoration: none;
    }
    
.TopNav > ul > li:hover > a {
    background: black;
    color: white;
    }
    
.TopNav > ul > li > a > span {
    line-height: 18px;
    }
    
.TopNav > ul > li.active > a,
.TopNav > ul > li > a:active {
    background-color: #FFFFFF;
    }
    
/* 顶部导航二级菜单样式 */

.TopNav > ul ul {
    visibility: hidden;
    position: absolute;
    top: 65px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    z-index: -1;
    }
    
.TopNav > ul li:hover ul {
    visibility: visible;
    margin: 0;
    z-index: 2;
    top: 64;
    left: 0;
    }
    
.TopNav > ul ul:before {
    content: '';
    position: absolute;
    top: -6px;
    width: 100%;
    height: 20px;
    background: transparent;
    }
    
.TopNav > ul ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    }
    
.TopNav > ul ul li a {
    padding: 18px 26px;
    display: block;
    color: black;
    text-decoration: none;
    width: 150px;
    border-left: 4px solid transparent;
    }
    
.TopNav > ul ul li a:hover {
    border-left: 4px solid #de553b;
    background-color: black;
    color: white;
    }
    
/* 作品列表 */

.IndexWorksList > ul li {
    list-style: none;
    display: inline;
    }
    
.IndexWorksList > ul {
    padding: 0;
    }
    
.IndexWorksList > ul img {
    height: 160px;
    width: 240px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin: 0;
    -webkit-transition: color .25s linear;
    transition: all .5s ;    
    }
  
.IndexWorksList > ul img:hover {
    border: 3px solid rgba(221, 85, 58, 1);
    border-radius: 2%;
    } 

    
/* 摄影师列表样式 */

.IndexPhotographyList {
    margin-top: 40px;
    height: 300px;
    margin-bottom: 20px;
    }

.IndexPhotographyList > ul li {
    list-style: none;
    line-height: 14px;
    padding: 0;
    margin: 0;
    }
    
.IndexPhotographyList > ul > li {
    display: block;
    float: left;
    width: 300px;
    }

.IPLImg {
    height: 160px;
    width: 160px;
    border: 8px solid #de553b;
    border-radius: 100%;
    -moz-radial-gradient: 100%;
    }
    
.IndexPhotographyList a {
    height: 30px;
    width: auto;
    margin: 0;
    }
    
.IndexPhotographyList h4 {
    color: rgba(69, 69, 69, 1);
    font-size: 18px;
    font-family: Helvetica '微软雅黑';
    padding-top: 15px;
    margin: 0;
    }
    
.IndexPhotographyList h6 {
    color:rgba(193, 193, 193, 1);
    font-size: 16px;
    font-family: Helvetica '微软雅黑';
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    }
    
.IndexPhotographyList span {
    color:rgba(193, 193, 193, 1);
    font-size: 14px;
    font-family: Helvetica '微软雅黑';
    padding-top: 15px;
    margin-top: 15px;
    line-height: 18px;
    }
    
/* 服务列表样式 */

.IndexServiceList > ul > li {
    list-style: none;
    display: inline;
    height: auto;
    width: 300px;
    float: left;
    padding-right: 20px;
    }
    
.IndexServiceList > ul > li > a,    
.IndexServiceList > ul > li > a:visited {
    display: block;
    height: auto;
    width: 300px;
    background-color: rgba(233, 233, 233, 1);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: rgba(64, 64, 64, 1);
    font-family: Helvetica '微软雅黑';
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;    
    }
    
.IndexServiceList > ul > li > a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(221, 85, 58, 1);
    }     
    